* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container {
    margin: 0 auto;
    width: 1400px;

}
.shopping_cart_title {
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.011em;
    color: #202020;
    margin-bottom: 147px;
}
.empty_list {
    text-align: center;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.011em;
    color: #202020;
    margin-bottom: 100px;
}

.shopping_cart_main_div {
    display: flex;
    margin-bottom: 50px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}

.honey_image_shopping_cart {
    width: 400px;
    height: 400px;
}

.content_block {
    margin-left: 48px;
    padding-top: 90px;
    position: relative;
}
.remove_icon {
    background: url(../../../shared/icons/remove_shopping_cart.svg) center center/cover no-repeat;
    width: 50px;
    height: 50px;
    border: none;
    position: absolute;
    top:20px;
    left: 880px;
}
.cart_name {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    letter-spacing: -0.011em;
    color: #202020;
}
.cart_weight {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -0.011em;
    color: #202020;
    opacity: 0.5;
}
.cart_price {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    letter-spacing: -0.011em;
    color: #202020;
}
.cart_buttons {
    display: flex;
}

.remove_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 50px;
    font-size: 50px;
    height: 50px;
    background-color: #FFD100;
    border-radius: 42px;
    border: none;
}
.minus_icon {
    background: url(../../../shared/icons/remove-.svg) center center;
    width: 14px;
    height: 3px;
}
.cart_quantity {
    padding: 5px 5px 0px 5px;
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.011em;
    color: #202020;
}

.add_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 50px;
    font-size: 50px;
    height: 50px;
    background-color: #FFD100;
    border-radius: 42px;
    border: none;
}

.add_icon {
    background: url(../../../shared/icons/add-icon.svg) center center;
    width: 14px;
    height: 14px;
}

.total_price {
    display: flex;
    justify-content: end;
}
.total_price_text {
    padding: 5px 20px;
    border: 5px solid #FFD100;
    border-radius: 20px;
    margin-right: 40px;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: -0.011em;
    color: #202020;
    display: flex;
}
.Itogo {
    display: block;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: -0.011em;
}
.total_price_span {
    display: block;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: -0.011em;
}
.checkout_div {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.checkout {
    padding: 16px 251px;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.011em;
    color: #202020;
    background: none;
    border: 5px solid #FFD100;
    border-radius: 30px;
    margin-bottom: 100px;
}

@media (max-width: 376px) {
    .container {
        max-width: 343px;
        margin: 0 auto;
    }
    .shopping_cart_title {
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        text-align: center;
        color: #000000;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    .shopping_cart_main_div {
        margin-bottom:  8px;
        padding: 10px 0px;
    }
    .content_block {
        padding: 0;
        margin-left: 10px;
    }
    .honey_image_shopping_cart {
        width: 108px;
        height: 108px;
    }
    .cart_name {
        font-size: 18px;
        text-align: center;
        color: #202020;
        margin: 0   ;
    }
    .cart_weight {
        font-size: 14px;
        text-align: center;
        color: #202020;
        opacity: 0.5;
        margin: 4px 0px;
    }
    .cart_price {
        font-size: 14px;
        text-align: center;
        color: #202020;
        margin-bottom: 4px;
    }
    .remove_button {
        width: 24px;
        height: 24px;
        padding: 0;
    }
    .minus_icon {
        width: 14px;
        height: 2px;
    }
    .cart_quantity {
        font-size: 14px;
        text-align: center;
        color: #000000;
        margin: 0px 5px;
        padding: 3px;
    }
    .add_button {
        width: 24px;
        height: 24px;
        padding: 0;
    }
    .remove_icon {
        width: 20px;
        height: 20px;
        left: 200px;
        top: -7px;
    }
    .total_price {
        margin-top: 193px;
        display: block;
    }
    .Itogo {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        display: flex;
        align-items: center;
        color: #000000;
    }
    .total_price_span {
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        display: flex;
        align-items: center;
        text-align: right;
        color: #000000;
    }
    .total_price_text {
        border: none;
        justify-content: space-between;
    }
    .checkout_div {
        margin: 20px 0px;
    }

    .checkout {
        padding: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        color: #202020;
        border: none;
        background: #FFD100;
        border-radius: 20px;
    }

}
