.wrap {
    margin: 100px auto;
}

.shoppingCartButton {
    box-sizing: border-box;
    padding: 8px 16px;
    gap: 8px;
    width: 242px;
    height: 64px;
    border: 4px solid #FFD100;
    border-radius: 42px;
}

.buttons_parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wishlist_button {
    width: 48px;
    height: 48px;
    border: 4px solid #FFD100;
    border-radius: 40px;
    background: url(../../shared/icons/favorite.svg) center center no-repeat;
    background-size: 28px 28px;
}

.buttonHidden {
    width: 48px;
    height: 48px;
    border: 4px solid white;
    border-radius: 40px;
    background: url(../../shared/icons/favorite.svg) center center no-repeat;
    background-size: 28px 28px;
}

.added_button {
    width: 48px;
    height: 48px;
    border: 4px solid black;
    border-radius: 40px;
    background: url(../../shared/icons/favorite.svg) center center no-repeat;
    background-size: 28px 28px;
}

.mainWrap {
    padding-top: 140px;
    width:1440px;
    margin: 0 auto;
}

.productWrap {
    background: url(../../shared/icons/figure.svg) no-repeat;
    background-position: 166px 0px;
    background-size: 414px;
}

.honeyPic {
    width: 329px;
    height: 397px;
}

.honeyName {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.011em;
    color: #202020;
}

.honeyWeight {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.011em;
    color: #202020;
    opacity: 0.5;
}

@media (max-width: 376px) {
    .productWrap {
        background: url(../../shared/icons/figure.svg) no-repeat;
        background-position: 80px 0px;
        background-size: 212px;
    }
    .mainWrap {
        padding-top: 30px;
    }
    .wrap {
        margin: 30px auto;
    }
    .honeyPic {
        width: 156px;
        height: 190px;
        margin-right: 25px;
        margin-bottom: 40px;
    }

    .honeyName {
        font-size: 20px;
        font-weight: 700;
    }

    .honeyWeight {
        font-size: 16px;
    }

    /* .wrap_buttons{
        margin: 100px auto;
    } */


}