header {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    margin: 0 auto;
    gap: 20px;
}
.logo{
    background: url('../../shared/icons/logo2.svg') center center/contain no-repeat;
    width: 150px;
    height: 200px;
}
.links {
    display: flex;
    align-items: center;
    gap: 27px;
}

.links_item {
    font-size: 28px;
    color: #202020;
}
.links_item_auth {
    font-size: 28px;
    color: #b9580a;
}

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}
@media  (max-width: 376px) {
    .links {
        display: none;
    }
    .logo_parent {
        position: relative;
        display: flex;
        justify-content: end;
        align-items: center;
        width: 215px;
        height: 40px;

    }
    .logo {
        position: absolute;
        width: 40px;
        height: 43px;
        margin: 4px 0px;
        background: url('../../shared/icons/adapLogo.svg') center center/contain no-repeat;
    }
    header {
        justify-content: space-between;
        gap: 0;
        margin-top: 64px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    }
    .icons {
        height: 0;
        gap: 10px;
        width: unset;
    }
}

