.cardWrap {
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px 40px;
    border: 1px solid #FFD100;
}

.checkoutForm {
    margin: unset;
    margin-top: 20px;
}

.itemName {
    text-align: left;
}

.priceWrap {
    display: flex;
    justify-content: end;
    padding: 40px;
}

.priceWrap p {
    margin-left: 20px;
}

.checkoutButton {
    background: #FFD100;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    border: unset;
    margin-bottom: 30px;
    margin-top: 30px;
}
.askForAuthText{
    margin: 30px auto;
    padding: 60px 20px;
    width: 700px;
    background-image: url('../../shared/icons/lock.png');
    background-position: center bottom;
    border-radius: 12px;
    background-size: 200px;
    background-repeat: no-repeat;
    height: 400px
}


@media (max-width: 376px) {
    .checkoutForm {
        margin-left: unset;
        border: 1px solid #FFD100;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    }

    .cardWrap {
        padding: 10px;
    }

    .priceWrap {
        justify-content: space-between;
        padding: 10px;
    }

    .checkoutButton {
        background: #FFD100;
        border-radius: 20px;
        color: #202020;
        margin-bottom: 30px;
    }

    .itemQuantity {
        font-size: 14px;
    }

    .itemName p {
        font-weight: 400;
        font-size: 16px;
    }

    .itemName:nth-child(2) {
        font-weight: 400;
        font-size: 14px;
        color: #202020;

        opacity: 0.5;
    }

    .itemPrice {
        font-size: 14px;
    }
}