* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 1400px;
}

.shopping_cart_title {
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.011em;
    color: #202020;
    margin-bottom: 147px;
}

.empty_list {
    text-align: center;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.011em;
    color: #202020;
}

.shopping_cart_main_div {
    display: flex;
    margin-bottom: 50px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}

.honey_image_shopping_cart {
    width: 400px;
    height: 400px;
}

.content_block {
    margin-left: 48px;
    padding-top: 90px;
    position: relative;
}

.remove_icon {
    position: absolute;
    top: 20px;
    left: 845px;
    background: #FFD100;
    border-radius: 42px;
    border: none;
    padding: 15px;
}

.unlike {
    display: block;
    background: url(../../shared/icons/favorite.svg) center center/contain no-repeat;
    width: 51px;
    height: 50px;
    border: none;
}

.cart_name {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    letter-spacing: -0.011em;
    color: #202020;
}

.cart_weight {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -0.011em;
    color: #202020;
    opacity: 0.5;
}

.cart_price {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    letter-spacing: -0.011em;
    color: #202020;
}

@media (max-width: 376px) {
    .container {
        max-width: 343px;
        margin: 0 auto;
    }

    .shopping_cart_title {
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        text-align: center;
        color: #000000;
        margin-bottom: 20px;
    }

    .shopping_cart_main_div {
        margin-bottom: 8px;
        padding: 10px 0px;
    }

    .content_block {
        padding: 0;
        margin-left: 10px;
    }

    .honey_image_shopping_cart {
        width: 108px;
        height: 108px;
    }

    .cart_name {
        font-size: 18px;
        text-align: center;
        color: #202020;
        margin: 0;
    }

    .cart_weight {
        font-size: 14px;
        text-align: center;
        color: #202020;
        opacity: 0.5;
        margin: 4px 0px;
    }

    .cart_price {
        font-size: 14px;
        text-align: center;
        color: #202020;
        margin-bottom: 4px;
    }

    .remove_icon {
        width: 20px;
        height: 20px;
        left: 185px;
        top: -5px;
        padding: 16px;
    }
    .unlike {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 6px;
        left: 6px;
    }
}
