.wishlist_main_button {
    display: flex;
}
.wishlist_button {
    width: 48px;
    height: 48px;
    border: 4px solid #FFEE32;
    border-radius: 40px;
    background: url(../../../shared/icons/favorite.svg) center center no-repeat;
    background-size: 28px 28px;
}